/* List Page Common Styles */
.container {
  padding-top: 30px !important;
}

.contentCard {
  padding: 32px;
  border-radius: 24px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.tableContainer {
  /* Add any table-specific styles */
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
