.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f8fafc;
  position: relative;
  overflow: visible;
}

.content {
  padding: 0;
  overflow-y: auto;
  height: calc(100vh - 100px);
}
